body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.display-mob {
  display: none;
}

.ul-nav {
  list-style-type: none;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
}

.ul-nav>.li-nav {
  text-decoration: none;
}

.ul-nav>.li-nav>.link-nav {
  text-decoration: none;
}

.ul-nav span {
  padding: 5px 20px;
  color: #131313;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.2px;
  margin-top: 10px;
  transition: ease all 0.5s;
}

.ul-nav span:hover {
  padding: 5px 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  color: #f7444e;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.2px;
  margin-top: 10px;

}

.li-nav {
  float: left;
}

.dropdown-nav {
  padding: 5px 20px;
  color: #131313;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.2px;
  margin-top: 10px;
  transition: ease all 0.5s;
  text-decoration: none;
}

.dropdown-nav:hover {
  padding: 5px 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  color: #f7444e;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.2px;
  margin-top: 10px;
  text-decoration: none;
}

.dropdown-nav>.nav-item {
  padding: 5px 20px;
  color: #131313;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.2px;
  margin-top: 10px;
  transition: ease all 0.5s;
  text-decoration: none;
}

.navbar-brand {
  font-weight: bold;
  font-size: 32px;
  color: #000000;
}

/* Toggler CSS */
/* Initial state */
/* .nav-toggle {
  padding: 0;
  width: 37px;
  height: 42px;
  transition: all 0.3s;
}

.nav-toggle span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000000;
  margin: 7px 0;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.nav-toggle span::before, .nav-toggle span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-toggle span::after {
  top: 10px;
} */

/* Collapsed */
.nav-toggle {
  padding: 0;
  width: 37px;
  height: 42px;
  transition: all 0.3s;
  border: none;
}

.nav-toggle > .top-bar {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000000;
  margin: 7px 0;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.nav-toggle > .mid-bar {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000000;
  margin: 7px 0;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.nav-toggle > .bot-bar {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000000;
  margin: 7px 0;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;

}



/* Expanded */
.nav-toggle.collapsed {
  padding: 0;
  width: 37px;
  height: 42px;
  transition: all 0.3s;
  border: none;
}

.nav-toggle.collapsed > .top-bar{
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000000;
  margin: 7px 0;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
  transform: translateY(10px) rotate(315deg);
}

.nav-toggle.collapsed > .mid-bar{
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000000;
  margin: 7px 0;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
  opacity: 0;
}

.nav-toggle.collapsed > .bot-bar {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000000;
  margin: 7px 0;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
  top: 0;
  transform: translateY(-10px) rotate(405deg);
}

/* 
.icon-rotate {
  width: 20px;
  height: 3px;
  background-color: #000000;
} */

@media screen and (max-width: 700px) {
  .display-mob {
    display: inline-block;
  }
}


/* End Toggle Section  */

.cart-icon {
  color: #000000;
}

.card-product {
  margin-top: 25px;
  padding: 35px 35px;
  background-color: #f7f8f9;
  overflow: hidden;
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, .2);
  border: solid #fff 10px;
}


.heading-container {
  background-color: #f7444e;
  text-align: center;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 40px;
}

.heading-container h3 {
  font-size: 42px;
  font-weight: 800;
}

.card-blog {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 30px;
  margin-left: 20px;
  background-color: #002c3e;
  padding: 45px 50px;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.svg-icon {
  background-color: #002c3e;
  width: 80px;
  height: 80px;
}

.container-column {
  display: flex;
  flex-direction: column;
}

.container-row {
  display: flex;
  flex-direction: row;
}



.container-about {
  background-image: url('../public/images/arrival-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.container-about>.detail-box {
  position: relative;
  top: 10%;
  right: -10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30%;
}

.container-about h2 {
  font-size: 3.5rem;
  font-weight: bold;
}

.ul-footer {
  list-style-type: none;
}

.slider-testimonial {
  position: relative;
  top: 10px;
}


.content-testimonial {
  width: 100%;
  height: 500px;
}

.slider-testimonial {
  position: relative;
  top: 10px;
}

.detail-testimonial {
  width: 10%;
}

.img-box-inner {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.controls-testimonial-left {
  position: absolute;
  left: 30vw;
  top: 80px;
  background-color: #f7444e;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.controls-testimonial-right {
  position: absolute;
  left: 70vw;
  top: 80px;
  background-color: #f7444e;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.btn-box {
  padding: 10px 40px;
  background-color: #f7444e;
  border: 1px solid #f7444e;
  color: #ffffff;
  border-radius: 0;
}

.btn-buy {
  background-color: #000000;
  border: 1px solid #000000;
  color: #ffffff;
  border-radius: 30px;
}

.btn-buy:hover {
  background-color: transparent;
  color: #f7444e;
  border-radius: 30px;
  color: #000000;
}

.btn-addto {
  background-color: #f7444e;
  border: 1px solid #f7444e;
  color: #ffffff;
  border-radius: 30px;
}

.btn-addto:hover {
  background-color: transparent;
  color: #f7444e;
  border-radius: 30px;
  color: #000000;
}

.btn-red {
  background-color: #f7444e;
  border: 1px solid #f7444e;
  color: #ffffff;
}

.footer-other {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 80px;
  background-color: #002c3e;
  color: #ffffff;
  padding-top: 70px;
  margin-top: 40px;
}

.link {
  text-decoration: none;
  color: white;
}

.hover-red {
  text-decoration: none;
  color: white;
  margin-top: 10px;
}

.hover-red:hover {
  color: #f7444e;
}

.hover-red span {
  margin-left: 5px;
}

.footer-home {
  background-color: #f8f8f8;
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container-subscribe {
  background-color: #d4ced0;
}

.subheading-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subheading-container h2 {
  font-size: 3.5rem;
  font-weight: bold;
}

.subheading-container h2::after {
  content: "";
  display: block;
  width: 70px;
  height: 5px;
  background: #f7444e;
  margin: 10px auto 10px;
}


.hr-subheading {
  border: 3px solid #f7444e;
  width: 70px;
}


.container-root {
  margin-top: 10px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.landing-box {
  position: relative;
  background-image: url('../public/images/slider-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  /* width: 100%; */
}

.slider-landing {
  position: absolute;
  top: 100px;
  left: -350px;
}

.detail-landing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dot-group {
  position: absolute;
  top: 420px;
  left: 80px;
  text-align: center;
  color: black;
}

.dot-group>.carousel__dot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 100%;
  border: none;
  margin-left: 5px;
}

.dot-group>.carousel__dot--selected {
  width: 20px;
  height: 20px;
  background-color: #f7444e;
  border-radius: 100%;
  border: none;
  margin-left: 5px;
}

.landing-box h1 {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #002c3e;
  line-height: 70px;
}

.landing-box h1 span {
  color: #f7444e;
}

.landing-box h1 p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 1.5rem;
}

.landing-box>.carousel>.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.landing-box>.carousel>.carousel-indicators [data-bs-target] {
  position: absolute;
  left: -20px;
  top: 200px;
  list-style: none;
}

form input {
  background: #fff;
  border: solid #ccc 1px;
  padding: 15px 15px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: capitalize;
  line-height: normal;
}

form textarea {
  background: #fff;
  border: solid #ccc 1px;
  padding: 15px 15px;
  width: 100%;
  min-height: 150px;
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: capitalize;
  line-height: normal;
}

form button {
  border: none;
  padding: 15px 45px;
  width: 200px;
  font-size: 16px;
  text-transform: capitalize;
  line-height: normal;
  margin: 0 auto;
  display: flex;
  background: #333;
  color: #fff;
  font-weight: 600;
}

form button:hover,
form button:focus {
  background: #f7444e;
  color: #fff;
}

.container-testimonial h5 {
  font-size: 21px;
  font-weight: 700;
}

.container-testimonial h6 {
  font-size: 15px;
  color: #999998;
}

.container-subscribe {
  margin-top: 40px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 100px;
}

.container-subscribe input {
  width: 60%;
  height: 60px;
  border: none;
  border-radius: 90px;
  outline: none;
  padding: 5px 25px;
  background-color: #ffffff;
  margin-top: 15px;
  text-align: left;
}

.container-subscribe .btn-subscribe {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f7444e;
  border: 1px solid #f7444e;
  color: #ffffff;
  border-radius: 35px;
  text-transform: uppercase;
  margin-top: 35px;
  font-weight: 600;
  width: 100%;
  max-width: 285px;
}

.footer-home h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  margin-bottom: 25px;
}

.footer-home input {
  padding: 10px 110px 10px 15px;
  border-radius: 0;
  border: solid #ccc 1px;
  font-size: 14px;
  box-shadow: none;
  width: 100%;
  height: 48px;
}

.footer-home .btn-red {
  background: #f7444e;
  color: #fff;
  border: none;
  top: 0px;
  font-size: 14px;
  height: 48px;
  font-weight: 600;
  padding: 0 15px;
}

.copyright {
  background: #222;
  text-align: center;
  padding: 20px 0;
}

.copyright p {
  margin: 0;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.container-cart {
  border: 1px solid black;
  box-shadow: 5px 10px;
  padding: 10px;
}

.container-cartitem {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 3px;
}

.card-product>.container-animbtns {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.2s;
  transform: translateY(100%);
}

.card-product:hover>.container-animbtns {
  opacity: 1;
  transform: translateY(50%);
}

.container-contact {
  width: 60%;
  margin-left: 20%;
  margin-top: 60px;
}